<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>AngularJS Weather App</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!-- Latest AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

		<script src="http://maps.googleapis.com/maps/api/js?language=en"></script>

		<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body ng-controller="weatherCtrl">
		
		<div class="site-content" ng-controller="userCtrl">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">SkyCast</h1>
							<small class="site-description" ng-show="authData"> Welcome! {{authData.password.email}}</small>
							<small class="site-description">View weather at your fingertip</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="timeCapsule.html">Time Capsule</a></li>
							<li class="menu-item" ng-show="authData"><a href="mySearches.html">My Searches</a></li>
							<li class="menu-item" ng-show="authData" ng-click="auth.$unauth()"><a href="#">Logout</a></li>
							<li class="menu-item" ng-hide="authData"><a href="login.html">Login</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="images/banner.png">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" placeholder="Enter your city..." ng-model="search">
						<input type="submit" value="Find" ng-click="geoCode()" ng-disabled="search.length == 0">
					</form>
				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">{{convertToDate(dateTime) | date: 'EEE'}}</div>
								<div class="date">{{convertToDate(dateTime) | date: 'd MMM'}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{search}}</div>
								<!-- current location -->
							    <div class="text-info text-right">
							        {{loc.lat | lat:0}}, {{loc.lon | lon:0}}
							    </div>
								<div class="degree">
									<div class="num">{{currentTemp | number:0}}<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="images/icons/{{icon}}.svg" alt="{{summary}}" width=90>
									</div>	
								</div>
								<span><img src="images/icon-umberella.png" alt="">{{precipProb * 100 | number:0}}%</span>
								<span><img src="images/icon-wind.png" alt="">{{windSpeed | number:0}}km/h</span>
							</div>
						</div>
						<div class="forecast" ng-repeat="dayReport in weekReport" ng-if="$index > 0">
							<div class="forecast-header">
								<div class="day">{{convertToDate(dayReport.time) | date: 'EEE'}}</div>
								<div class="date">{{convertToDate(dayReport.time) | date: 'd MMM'}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/{{dayReport.icon}}.svg" alt="{{dateReport.summary}}" width=48>
								</div>
								<div class="degree">{{dayReport.temperatureMax | number:0}}<sup>o</sup>C</div>
								<small>{{dayReport.temperatureMin | number:0}}<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<h1 class="section-title">Application features</h1>
			</div>

			<main class="main-content">
				<div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h3 class="section-title">Time Capsule</h3>
								<ul class="arrow-feature">
									<li>
										<h3>Important!!</h3>
										<p>Accepts only reasonable time period as input (for many places, 60 years in the past to 10 years into the future)</p>
									</li>
									<li>
										<h3>Purpose</h3>
										<p>Allows user to view historic weather information in chart/graph of a chosen area </p>
									</li>
								</ul>
								<br>
								<div class="text-left">
									<a href="timeCapsule.html" class="button">Check It Out</a>
								</div>
							</div>
							<div class="col-md-6">
								<h2 class="section-title">My Searches</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Important!!</h3>
										<p>Guest must create an account and sign in as user in order to use this feature</p>
									</li>
									<li>
										<h3>Purpose</h3>
										<p>Allows user to track his or her search history</p>
									</li>
								</ul>
								<br>
								<div class="text-left">
									<a href="mySearches.html" class="button" ng-show="authData">Check It Out</a>
								</div>
								<div class="text-left">
									<a href="login.html" class="button" ng-hide="authData">Log In</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>